# Libraries
*.lvlibp
*.llb
*.log

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/
hs_err_pid22196.log
*.xml
.idea/BapaoInvaders.iml
.idea/gradle.xml
.idea/vcs.xml

